body{
  background-color: aqua;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main{
  margin-top: 20px;
  background-color: #fb6b6b;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 375px;
  height: 667px;
}