body {
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.main {
  margin-top: 20px;
  background-color: #fb6b6b;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 375px;
  height: 667px;
  overflow: hidden;

}

.topIcons {
  min-width: 96%;
  display: flex;
  flex-direction: row;
  height: 150px;
}

.topIcons img {
  width: 52px;
  height: 60px;
  position: relative;
  top: 42px;
  left: 59px;

}

.topIcons h1 {
  width: 203.17px;
  height: 44px;
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.012em;
  color: #FFFFFF;
  position: relative;
  top: 48px;
  left: 70px;
}

.Decks {

  min-width: 96%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.flashCards {
  margin-top: 25px;
  width: 300px;
  height: 65px;
  background: #FFFFFF;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background: #feffd3;
}
.flashCards p {
  
  width: 300px;
  height: 19px;
  font-family: 'Recursive';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
  position: relative;
  left: 15px;
  top: 23px;
}

.flashCards img {
  position: relative;
  left: 265px;
  top: 2px;
}
.questionArea{
  width: 100%;
  height: 131px;
 
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items:  center;
  background: #feffd3;
}

.questionArea p {
  width: 280px;
 
  font-family: 'Recursive';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
  position: relative;
  left: 15px;
  top: 23px;
  background: #feffd3;
}

.questionArea img {
  position: relative;
  left: 265px;
  top: 2px;
}

.flashVerse {
  width: 100%;
  height: 131px;
  background: #FFFFD5;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items:  center;
  background: #feffd3;
}

.flashVerse .btnErrou {
  width: 85px;
  height: 37px;
  background: #FF3030;
  border-radius: 5px;
  color: #FFFFFF;
}

.flashVerse .btnQuaseAcertou {
  width: 85px;
  height: 37px;
  font-family: 'Recursive';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  background: #ff912f;
  color: #FFFFFF;
  border-radius: 5px;
}

.flashVerse .btnAcertou {
  width: 85px;
  height: 37px;
  background: #2FBE34;
  border-radius: 5px;
  color: #FFFFFF;
}

.responseArea {
  position: relative;
  top:18px;
  height: 115px;
  min-width: 96%;
  background: #feffd3;

}
.responseArea p {
  width: 300px;
  font-family: 'Recursive';
  font-style: normal;
  font-weight: 400;
  text-align: right;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}

.btnArea{
  position: relative;
  top: 0px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-width: 300px;
  height: 45px;
  background: #feffd3;

  
}
/*PARTE DE GIRAR AS CARTAS*/
.flip-container:hover .flipper{
	transform: rotateY(180deg);
}
.flipper{

	transition: transform 0.8s;
	transform-style: preserve-3d;
}
.flipper{
	position: relative;

}
.questionArea, .flashVerse{
	position: absolute;
	
}
.flashVerse{
	transform: rotateY(180deg);
}

.questionArea, .flashVerse{
  position: absolute;
  backface-visibility: hidden;
}
#setaVirar {
  position: relative;
  top:8px;
  left: 130px;
}
#setaVirar:focus~.flip-container .flipper {
  transform: rotateY(180deg);
}
/*FIM  DA PARTE DE GIRAR AS CARTAS*/


.hide {
  display: none;
}

.footer {
  position: fixed;
  top: 617px;
  width: 375px;
  height: 70px;
  background: #FFFFFF;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer p {
  position: relative;
  left: 115px;
  top: 15px;
  width: 100%;
  height: 100%;
  display: flex;
  font-family: 'Recursive';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  color: #333333;

}

