body {
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

}


.questionArea img {
 
}

.flashVerse {
  
}

.flashVerse .btnErrou {
 
}

.flashVerse .btnQuaseAcertou {
 
}

.flashVerse .btnAcertou {
 
}

.responseArea {


}


/*PARTE DE GIRAR AS CARTAS*/
.flip-container:hover .flipper{
	transform: rotateY(180deg);
}
.flipper{

	transition: transform 0.8s;
	transform-style: preserve-3d;
}
.flipper{
	position: relative;

}
.questionArea, .flashVerse{
	position: absolute;
	
}
.flashVerse{
	transform: rotateY(180deg);
}

.questionArea, .flashVerse{
  position: absolute;
  backface-visibility: hidden;
}
#setaVirar {
  position: relative;
  top:8px;
  left: 130px;
}
#setaVirar:focus~.flip-container .flipper {
  transform: rotateY(180deg);
}
/*FIM  DA PARTE DE GIRAR AS CARTAS*/


